@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100vh; /* altura total da tela */
    width: 100vw; /*  largura total da tela */
    background: black url(images/bg.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    height: 100vh;
    position: relative;
}
section#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* -50% pra cima e -50% para esquerda, centralizando o bloco */
    height: 627px;
    width: 311px;
    background: url(images/frame-iphone.png) no-repeat;
}
iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}
section#social {
    text-align: right;
    padding-top: 250px;
}
section#social img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #dbdbdb48;
    box-sizing: border-box; /* usar sempre isso */
}
section#social img:hover {
    border: 2px solid rgba(255, 255, 255, 0.288);
    transform: translate(-3px, -3px);
    transition: transform 1s;
}